<% title "Upload a file" %>

<%= render 'shared/breadcrumbs' %>

<%= render 'form' %>

<% if @data_file.folder %>
  <p><%= link_to "Back to #{@data_file.folder.name} folder", browse_path(@data_file.folder) %></p>
<% else %>
  <p><%= link_to "Back to Home page", root_path %></p>
<% end %>